<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ustawienia | MoneyCount.app</title>
    <link rel="icon" href="/img/logos/2.png" type="image/png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="menu-logo">
                <img src="/img/logos/mc1.png" alt="">
            </div>
            <div class="menu-right">
                <h4 class="navItem">Strona główna 🏠</h4>
                <h4 class="navItem">Nasze rozwiązania 🛠️</h4>
                <h4 class="navItem">Zarabiaj z nami 💰</h4>
            </div>
            <div style="display: flex; gap: 10px;" id="profileInfo">
            </div>
        </div>
    </header>
    <div class="sub-menu-container">
        <div class="sub-menu">
            <div class="sub-menu-el">
                <a></a>
            </div>
        </div>
    </div>
    <main>
        <div class="panel-container">
            <div class="panel-content">
                <div class="settings-profile-container">
                    <div class="settings-profile-content">
                    </div>
                </div>
                <div class="settings-options-container">
                    <div class="settings-options-content">
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="../js/footer.js"></script>
<script src="../js/settings.js"></script>
</html>
