<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nasze rozwiązania | MoneyCount.app</title>
    <link rel="icon" href="/img/logos/2.png" type="image/png">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <div class="header-container">
            <div class="menu-logo">
                <img src="/img/logos/mc1.png" alt="">
            </div>
            <div class="menu-right">
                <h4 class="navItem">Strona główna 🏠</h4>
                <h4 class="navItem">Nasze rozwiązania 🛠️</h4>
                <h4 class="navItem">Zarabiaj z nami 💰</h4>
            </div>
            <div style="display: flex; gap: 10px;" id="profileInfo">
            </div>
        </div>
    </header>
    <main>
        <div class="hero-container">
            <div class="hero">
                <div class="hero-content">
                    <div>
                        <img src="/img/pictures/3d_data.png" alt="" class="hero-picture">
                    </div>
                    <div>
                        <h1>Nasze indywidualne rozwiązania!</h1>
                        <h5>Dzięki © Money Count jesteś w stanie policzyć cały swój majątek, i śledzić jego aktualną wartość w czasie rzeczywistym!</h5>
                        <div class="hero-button">
                            <h4>📝 Zarejestruj się za darmo!</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="solutions-container">
            <div class="solutions-content">
                <h1>Nasze funkcje, które pokochasz!</h1>
                <h5>Proste w obsłudze, a jednocześnie niezwykle skuteczne w zarządzaniu Twoimi finansami!</h5>
                <div style="display: flex; gap: 20px; width: 100%; justify-content: space-between; height: 100%; padding: 20px 0 0 0;">
                    <div class="hero-content-slide">
                        <img src="/img/pictures/3d_bag.png" alt="" class="hero-slide-img">
                        <div>
                            <h3>Twoje aktywa w jednym miejscu!</h3>
                            <h5>Sprawdź sumę swoich wszystkich aktywów w jednym kliknięciu. Od kont bankowych po inwestycje — wszystko przejrzyście i w jednym miejscu.</h5>
                        </div>
                    </div>
                    <div class="hero-content-slide">
                        <img src="/img/pictures/3d_chart.png" alt="" class="hero-slide-img">
                        <div>
                            <h3>Wartośći w czasie rzeczywistym!</h3>
                            <h5>Śledź zmiany wartości swoich aktywów dzięki dynamicznym wykresom aktualizowanym w czasie rzeczywistym. Pełna kontrola nad Twoimi finansami na wyciągnięcie ręki!</h5>
                        </div>
                    </div>
                    <div class="hero-content-slide">
                        <img src="/img/pictures/gold.png" alt="" class="hero-slide-img">
                        <div>
                            <h3>Zarządzaj swoimi finansami efektywniej!</h3>
                            <h5>Monitoruj swoje finanse i podejmuj lepsze decyzje dzięki przejrzystym danym i intuicyjnym narzędziom do zarządzania majątkiem.</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="help-container">
            <div class="help-content">
                <div style="display: flex; gap: 20px; width: 100%; justify-content: space-between; height: 100%;">
                    <div class="hero-content">
                        <div>
                            <img src="/img/pictures/3d_help.png" alt="" class="hero-picture">
                        </div>
                        <div>
                            <h1>Masz pytania? Jesteśmy tutaj, aby pomóc!</h1>
                            <h5>Nie wahaj się skontaktować z naszym zespołem. Odpowiemy na Twoje pytania, pomożemy rozwiązać problemy i doradzimy, jak najlepiej korzystać z naszej aplikacji.</h5>
                            <div class="hero-button">
                                <h4>📧 Skontaktuj się z nami!</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>
<script src="../js/front.js"></script>
<script src="../js/footer.js"></script>
</html>
