*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f0f0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main{
    display: flex;
    flex-direction: column;
    z-index: 400;
}
.panel-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0 30px 0px;
    /* background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%); */
}
.panel-content{
    width: 1400px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
}
.container-section-border{
    height: fit-content;
    background: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.4px);
    -webkit-backdrop-filter: blur(13.4px);
    padding: 20px;
}
.container-section{
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
    font-family: "Funnel Display", sans-serif;
}
.container-element-border{
    background: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.4px);
    -webkit-backdrop-filter: blur(13.4px);
    padding: 20px;
}
.container-element{
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.container-element a{
    font-size: 12px;
    color: #8a8a8a;
    padding: 0 0 0 27px;
}
.container-element h4{
    font-size: 15px;
}
.container-right, .container-left{
    display: flex;
    flex-direction: column;
    width: 25%;
    font-family: "Funnel Display", sans-serif;
    gap: 30px;
}
.container-edit-btn{
    cursor: pointer;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    transition: 0.2s;
}
.container-edit-btn:hover{
    background-color: rgb(224, 234, 243);
}
.container-value-el-plus{
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(220, 238, 255);
    font-size: 10px;
    font-weight: 600;
    transition: 0.2s;
}
.container-value-el-plus:hover{
    background-color: rgb(198, 226, 253);
}
.container-ammount{
    display: flex;
    width: fit-content;
    flex-direction: column;
    padding: 10px;
    margin: 0 0 10px 0;
    border-radius: 10px;
    background-color: aliceblue;
}
.container-ammount h3{
    display: flex;
}
.container-ammount h5{
    font-family: "Funnel Display", sans-serif;
    font-weight: 400;
    color: red;
}
.container-legend{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: aliceblue;
}
.container-legend div:nth-child(1){
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.container-legend div:nth-child(2){
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}
.container-legend div h5{
    padding: 10px 10px 0px 10px;
}
.container-legend div h6{
    padding: 0 10px 10px 10px;
    font-weight: 400;
}
.container-values{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.container-values-section-el{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;
    border-radius: 10px;
    background-color: aliceblue;
    transition: 0.2s;
    height: 50px;
}
.container-values-section-el:hover{
    background-color: rgb(224, 234, 243);
}
.container-values-section-el img{
    height: auto;
    padding: 0 10px 0 0;
}
.container-values-section-el div:nth-child(1){
    display: flex;
}
.container-values-section-el h5{
    font-family: "Funnel Display", sans-serif;
    font-weight: 500;
}
.container-values-section-el-ammount-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container-values-section-el-ammount-left h6{
    font-weight: 400;
}
.container-values-section-el-ammount-right{
    display: flex;
    align-items: center;
    gap: 10px;
}
.container-values-section-el-ammount-right-button{
    display: flex;
}
.container-values-section-el-ammount-right-button a{
    padding: 5px;
    margin: 0 0 0 5px;
    background-color: rgb(220, 238, 255);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}
.container-values-section-el-ammount-right-button a:hover{
    background-color: rgb(198, 226, 253);
}
.container-values-section-el-ammount-left h5{
    font-weight: 500;
}
.container-values-section-el-ammount-right h6{
    font-weight: 400;
}
.change-currency:hover{
    cursor: pointer;
}
.container-values-title-id::first-letter{
    text-transform: capitalize;
}
.container-values-title-id h5{
    font-weight: 500;
}
.asset-edit-input{
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    font-family: "Funnel Display", sans-serif;
    font-weight: 400;
}
header{
    background-color: #ffffff;
    padding: 15px 25px 15px 25px;
    height: auto;
    width: 100%;
    font-family: "Funnel Display", sans-serif;
    border-bottom: 1px solid rgb(236, 239, 241);
    justify-content: center;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999;
}
.header-container{
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-family: "Funnel Display", sans-serif;
    font-weight: 400;
}
.menu-logo:hover, .menu-item:hover{
    cursor: pointer;
}
.menu-logo{
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: 0.2s;
}
.menu-logo img{
    height: 20px;
}
.menu-profile{
    display: flex;
    align-items: center;
}
.menu-border{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 0 0 10px;
    border-radius: 10px 20px 20px 10px;
}
.menu-border img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 5px solid aliceblue;
    transition: 0.2s ease-in;
    cursor: pointer;
}
#userImg{
    cursor: pointer;
}
.menu-right{
    display: flex;
    align-items: center;
    gap: 10px;
}
#logoutButton{
    background-color: aliceblue;
    border-radius: 10px;
}
.menu-right h4{
    /* background-color: aliceblue; */
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    transition: 0.2s;
}
.menu-right a{
    text-decoration: none;
    color: black;
}
.menu-right h4:hover{
    background-color: rgb(224, 234, 243);
    cursor: pointer;
}
.sub-menu-container{
    width: 100%;
    height: 30px;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-menu{
    width: 1400px;
    display: flex;
    align-items: center;
}
.sub-menu-el{
    display: flex;
    align-items: center;
    font-family: "Funnel Display", sans-serif;
    font-weight: 400;
    gap: 10px;
    font-size: 13px;
}
canvas{
    border-radius: 20px;
    padding: 10px;
    background-color: aliceblue;
}
.container-left-item{
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.2s;
    justify-content: space-between;
}
.container-left-item:hover{
    background-color: rgb(224, 234, 243);
}
.profile-options-describe{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: right;
}
.profile-options-describe img{
    border: 0;
    border-radius: 0;
    width: 20px;
    height: auto;
}
.profile-options{
    display: flex;
    flex-direction: column;
    align-items: right;
}
.ammounts-container{
    display: flex;
    gap: 10px;
}
.container-ammount-change{
    display: flex;
    width: fit-content;
    flex-direction: column;
    padding: 10px;
    margin: 0 0 10px 0;
    border-radius: 10px;
    background-color: rgb(240, 255, 240);
}
.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 60px;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
.wp-logo{
    height: 20px;
}
.login-logo{
    padding: 0px 0 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-family: "Funnel Display", sans-serif;
}
.login-container-border{
    background: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.4px);
    -webkit-backdrop-filter: blur(13.4px);
    padding: 30px;
}
.login-form{
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
    font-family: "Funnel Display", sans-serif;
    gap: 10px;
    display: flex;
    flex-direction: column;
    width: 450px;
}
.login-form-a{
    text-align: center;
    cursor: pointer;
    font-size: 12px;
    color: black;
    text-decoration: none;
}
.login-form-element{
    padding: 10px;
    background-color: aliceblue;
    height: auto;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.edit-input{
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px;
    font-family: "Funnel Display", sans-serif;
    font-weight: 400;
}
.login-form-button{
    padding: 15px 10px 15px 10px;
    background-color: aliceblue;
    height: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    font-weight: 600;
    transition: 0.2s;
    cursor: pointer;
}
.login-form-button:hover{
    background-color: rgb(224, 234, 243);
}
footer{
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 30px;
    width: 100%;
    background-color: #f0f0f0;
    bottom: 0;
}
footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer div img{
    width: 50px;
    padding: 10px;
}
footer ul{
    display: flex;
    gap: 15px;
    padding: 0;
}
footer li{
    list-style: none;
    font-family: "Funnel Display", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #8a8a8a;
    transition: 0.2s;
}
footer li:hover{
    color: black;
    cursor: pointer;
}
.solutions-container{
    font-family: "Funnel Display", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    padding: 60px 0 60px 0;
    z-index: 400;
}
.solutions-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1400px;
}
.help-container{
    font-family: "Funnel Display", sans-serif;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    padding: 60px 0 60px 0;
}
.help-content{
    width: 1400px;
    display: flex;
    background: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.4px);
    -webkit-backdrop-filter: blur(13.4px);
}
.hero{
    border-radius: 15px;
    font-family: "Funnel Display", sans-serif;
    gap: 10px;
    display: flex;
    flex-direction: column;
    height: 500px;
    align-items: center;
    justify-content: center;
    width: 1400px;
    padding: 30px;
    background: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.4px);
    -webkit-backdrop-filter: blur(13.4px);
}
.hero h5, .solutions-content h5{
    font-weight: 400
}
.hero-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    padding: 60px 0 60px 0;
}
.hero-content{
    border-radius: 15px;
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
    padding: 50px;
    justify-content: center;
    align-items: center;
}
.hero-content-slide{
    padding: 35px;
    border-radius: 15px;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: 0.2s;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}
.hero-content-slide-cont{
    background: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.4px);
    -webkit-backdrop-filter: blur(13.4px);
    padding: 30px;
    display: flex;
    justify-content: center;
    width: auto;
    align-items: center;
}
.hero-content-slide div{
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    flex-direction: column;
    display: flex;
}
.hero-content-slide:hover{
    background-color: rgb(220, 238, 255);
}
.hero-slide-img{
    height: 230px;
    width: fit-content;
}
.hero-content h5,.hero-content-slide h5{
    font-weight: 400;
}
.hero-picture{
    height: 300px;
    padding: 20px;
}
.hero-button{
    padding: 15px;
    background-color: rgb(220, 238, 255);
    border-radius: 15px;
    width: 250px;
    display: flex;
    margin: 15px 0 0 0;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    cursor: pointer;
}
.hero-button:hover{
    background-color: rgb(198, 226, 253);
}
.settings-profile-container{
    width: 30%;
    background: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.4px);
    -webkit-backdrop-filter: blur(13.4px);
    padding: 20px;
}
.settings-options-container{
    width: 70%;
    background: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.4px);
    -webkit-backdrop-filter: blur(13.4px);
    padding: 20px;
}
.settings-options-content{
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.settings-profile-content{
    background-color: #ffffff;
    padding: 25px;
    border-radius: 15px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.settings-profile-content-upload{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profileImg{
    border-radius: 50%;
    width: 250px;
    transition: 0.1s;
}
.profileImg:hover{
    opacity: 0.7;
    /* cursor: pointer; */
}
.settings-profile-image-options{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.profile-image-option img{
    width: 50px;
    transition: 0.1s;
}
.profile-image-option img:hover{
    opacity: 0.7;
    cursor: pointer;
}
@media (max-width: 450px) {
    header{
        height: 80px;
    }
    .menu-right{
        display: none;
    }
    .profile-options{
        display: none;
    }
    .menu-logo img{
        height: 15px;
    }
    .hero{
        height: fit-content;
        padding: 15px;
    }
    .hero-container{
        padding: 20px;
    }
    .hero-content{
        padding: 0;
        display: flex;
        flex-direction: column;
    }
    .hero-content h1{
        font-size: 25px;
    }
    .solutions-container{
        padding: 20px;
    }
    .solutions-content{
        width: fit-content;
        text-align: center;
    }
    .solutions-content h1{
        font-size: 25px;
    }
    .solutions-content div{
        flex-direction: column;
    }
    .hero-content-slide-cont img{
        width: 200px;
    }
    .help-container{
        padding: 20px;
    }
    .help-content{
        width: fit-content;
        padding: 20px;
    }
    .hero-content div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    footer{
        padding: 20px 20px 40px 20px;
    }
}